* {
    margin: 0;
    padding: 0;
}

/* .loading-bar.ended {
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
} */

.point {
    position: absolute;
    top: 10%;
    left: 20%
}

.point:hover .label
{
    opacity: 0;
}

.point:hover .text
{
    opacity: 1;
}

.point.visible .label{
    transform: scale(1, 1);
}

.point .label
{
    position: absolute;
    top: -40px;
    left: -200px;
    width: 400px;
    height: 40px;
    border-radius: 2%;
    background: #00000000;
    border: 0.5px solid #ffffff00;
    color: #ffffff77;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    line-height: 20px;
    font-weight: 100;
    font-size: 15px;
    opacity: 1;
    cursor: help;
    transform: scale(0.001,0.001);
    transition:  transform 0.3s;
}


.point .text{
    position: absolute;
    top: -40px;
    left: -200px;
    width: 400px;
    height: 40px;
    border-radius: 2%;
    background: #00000000;
    border: 0.5px solid #00000000;
    color: #00000077;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    line-height: 40px;
    font-weight: 100;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.9s;
    pointer-events: none;
}

/* html,
body
{
    overflow: hidden;
} */

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}